langchain
langgraph
langchain-core
langchain-community
langchain-text-splitters
pypdf
docx2txt
unstructured
fastapi
uvicorn
streamlit
python-dotenv
pinecone
langchain-pinecone
langchain-groq
langchain-ollama
langchain-tavily
requests
uuid
sentence-transformers
langchain-huggingface